---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead__inner-wrap {
	font-size: 12px;
}

.layout--julie-about {
	font-size: 12px;

	.archive {
	    align-content: center;
	}

	.about-text {
	    padding-right: 1em;
	    text-align: justify;

		@include breakpoint($medium) {
			width: 50%;
			float: left;
		}
	}

	.about-image {
	    padding-left: 1em;

    	figure {
    		margin-top: 0;
    	}

		@include breakpoint($medium) {
			width: 50%;
			float: right;
		}
	}
}

.layout--julie-home {
	.archive {
	  padding-right: 0px;
	  float: none;
	  width: 100% !important;
	  font-size: 12px;
	}

	.blurbs {    
	  text-align: justify;
	}

	.blurb {    
	    float: left;

	    @include breakpoint($small) {
	      width: 100%;
	      padding: 0;
	    }

	    @include breakpoint($medium) {
	      width: 33%;
	      padding: 20px;
	    }

	    @include breakpoint($large) {
	      width: 33%
	    }
	}
}