---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// WEBSITE VARIABLES
$main-color: #e7aca9;
$darker-main-color: #c98e8b;
$fade-in-length: 0.5s;
$element-roundedness: 5px;

// TYPOGRAPHY OVERRIDES
/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
// $georgia: Georgia, serif !default;
// $times: Times, serif !default;
// $bodoni: "Bodoni MT", serif !default;
// $calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $garamond !default;
$header-font-family: $garamond !default;
$caption-font-family: $garamond !default;

body {
    font-family: Garamond !important;

    .masthead__inner-wrap {
        font-family: Garamond !important;
        letter-spacing: 1px;
    }
    a {
        font-family: Garamond !important;
    }
}

.masthead {
    border-bottom: none;

    a.site-title {
        display: contents;
        &:hover {
            color: $main-color !important;
        }
    }

    a:hover {
        text-decoration: none;
    }
    
    .site-title-container {
        @include breakpoint($medium) {
            width: 50%;
            font-size: 18px;
        }

    }
}

.greedy-nav__toggle {
    &:hover {
        .navicon, .navicon::before, .navicon::after {
            background: $darker-main-color !important;
        }
    }
    .navicon, .navicon::before, .navicon::after {
        background: $main-color !important;
    }
}

.greedy-nav .visible-links {
    a {
        &::before {
            background: $main-color;
        }
    }
}

body {
    h1, h2, h3 {
        color: $main-color;
        text-decoration: none;
        font-family: Garamond !important;
        letter-spacing: 1px;
    }

    h1 {
        font-weight: 400;
        font-size: 28px;
    }

    h2, h3 {
        font-weight: 300;
        font-size: 18px;
    }

    h3 {
        font-weight: 500;
        font-size: 14px;
    }
}

.masthead__inner-wrap {
    font-size: 12px;
}

.layout--julie-about {
    font-size: 14px;

    .archive {
        align-content: center;
    }

    .about-text {
        color: $darker-main-color;
        padding-right: 1em;
        text-align: justify;

        h2 {
            color: $darker-main-color;
            margin-top: 0em;
        }

        @include breakpoint($medium) {
            font-size: 16px;
            width: 50%;
            float: left;
        }
    }

    .about-image {
        figure {
            margin-top: 0;
        }

        @include breakpoint($medium) {
            width: 50%;
            float: right;
            padding-left: 1em;
        }
    }
}

.layout--julie-resume {
    .resume-iframe {
        width: 100%;
    }
}

#site-nav {
    background: none;
}

header.masthead {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.section-background {
    max-height: 100vh;
    overflow: hidden;

    img {
        width: 100%; 
        height: auto; 
        object-fit: cover;

        @include breakpoint($medium) {
            object-position: 0px -200px;
        }
    }
}

#main {
    padding-top: 50px;
}

.layout--julie-home {
    .masthead {
        background: transparent;
        transition: background $fade-in-length ease-out;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.3);

        .site-title-container {
            @include breakpoint($medium) {
                text-align: right;
            }
        }

        &:hover {
            background: rgba(0, 0, 0, 0.5);
            transition: background $fade-in-length ease-in;
        }
    }
    
    .greedy-nav {
        a {
            color: $main-color !important;
        }
    }

    #main {
        max-width: none;
        padding-top: 0px;

        @include breakpoint($medium) {
            padding-top: 50px;
        }
    }

    .initial-content {
        max-width: 1280px;
        margin: 0 auto;
    }
}

.archive {
    margin-top: 0px;
}

html, body
{
    height: 100%;
}

.intial-content {
    background-color: white !important;
}

.text-button-wrapper {
    top: 25%;
    width: 100%;
    position: absolute;
    text-align: center;
    margin-bottom: 3em;
    padding: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);

    @include breakpoint($medium) {
        width: 33.33%;
        margin: 3em;
    }

    .btn {
        // background: none;
        border-color: $main-color;
        border-radius: 0;
        padding: 1em 1.5em;
        color: $main-color;
        background: transparent;
        transition: background $fade-in-length ease-out;
        
        &:hover {
            color: $main-color;
            background: rgba(0, 0, 0, 0.5);
            transition: background $fade-in-length ease-in;
        }
    }
}

.layout--julie-home {
    .page__hero {
        @include breakpoint($medium) {
          float: right;
          width: 50%;
        }

        @include breakpoint($large) {
          width: 50%
        }
    }

    #main {
        padding-top: 25px;
        border-top: 5px solid $main-color;
    }

    .carousel-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .carousel-inner {
        padding: 3em;
        margin: 1em;
    }

    #news-carousel {
        margin: 1em;

        .carousel-indicators {
            left: 0;
            margin-left: 0;
            width: 100%;    
            bottom: 0;
            margin-bottom: 0;
            margin-top: 10px;

            li {
                border-color: $main-color;
            }

            li.active {
                background-color: $main-color;
            }
        }

        .item {
            width: 75%;
            margin: 0 auto;
        }

        img {
            max-height: none !important;
            margin: 0 auto;
            float: left;

            @include breakpoint($medium) {
                width: 50%;
            }
        }

        .item-caption {
            float: right;
            padding: 1em 0em;

            @include breakpoint($medium) {
                width: 50%;
                padding: 0em 1em;
            }
        }

        .item-title {
            margin-top: 0;
        }
        .item-date {
            font-weight: 300;
            font-style: italic;
        }

        .item-description {
            padding-top: 1em;
        }
    }

    .blurbs {    
      overflow: auto;

      h2 {
        @include breakpoint($medium) {
          margin: 0;
          padding: 0 20px;
        }
      }
    }

    .blurb {    
        float: left;
        width: 100%;
        padding: 0;

        @include breakpoint($medium) {
          width: 33%;
          padding: 20px;
        }
    }

    .source {
        color: $main-color;
    }
}

.layout--julie-gallery {
    .archive {
        float: none;
        padding: 0;
        margin: 0 auto;
        margin-top: 1em;
    }

    figure {
        display: flex;
    }

    .crop {
        overflow: hidden;
        margin:0.5%;
        width: 49%;
        height: 85px;

        @include breakpoint($medium) {
            width: 32.33%;
            height: 160px;
        }

        @include breakpoint($large) {
            width: 24%;
            height: 117px;
        }

        img {
            border-radius: 0px;
        }

    }
}

.carousel-control {
    &.right {
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.08) 100%) !important;
        background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.08) 100%) !important;
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.08))) !important;
        background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.08) 100%) !important;
    }
    &.left {
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,.08) 0,rgba(0,0,0,.0001) 100%) !important;
        background-image: -o-linear-gradient(left,rgba(0,0,0,.08) 0,rgba(0,0,0,.0001) 100%) !important;
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.08)),to(rgba(0,0,0,.0001))) !important;
        background-image: linear-gradient(to right,rgba(0,0,0,.08) 0,rgba(0,0,0,.0001) 100%) !important;
    }
}

#footer {
    background-color: white;

    .page__footer-copyright {
        font-family: Garamond !important;
    }

    a {
        text-decoration: none;
        font-size: inherit;
        &:hover {
            color: $main-color;
        }
    }
}

.page__footer {
    color: black !important;
    margin-top: 0;
}


.fade-in-scroll {
    opacity: 0;
}