---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// WEBSITE VARIABLES
$main-color: #f29dd0;
$darker-main-color: #b55a7a;
$fade-in-length: .4s;
$element-roundedness: 5px;

a.site-title {
	transition: color $fade-in-length ease-out;

	&:hover {
		color: $darker-main-color;
		transition: color $fade-in-length ease-in;
		text-decoration: none;
	}
}

body {
	h1, h2, h3 {
		color: $darker-main-color;
		text-decoration: none;
	}

	h1 {
		font-weight: 400;
		font-size: 28px;
	}

	h2, h3 {
		font-weight: 300;
		font-size: 18px;
	}

	h3 {
		font-weight: 500;
		font-size: 14px;
	}
}

.masthead__inner-wrap {
	font-size: 12px;
}

.layout--julie-about {
	font-size: 12px;

	.archive {
	    align-content: center;
	}

	.about-text {
	    padding-right: 1em;
	    text-align: justify;

		@include breakpoint($medium) {
			width: 50%;
			float: left;
		}
	}

	.about-image {
	    padding-left: 1em;

    	figure {
    		margin-top: 0;
    	}

		@include breakpoint($medium) {
			width: 50%;
			float: right;
		}
	}
}

.title-image-wrapper {
	overflow: hidden;
	position: relative;

	.text-button-wrapper {
	    border-radius: $element-roundedness;
	    text-align: center;
	    top: 25%;
    	transition: background $fade-in-length ease-out;
    	margin-bottom: 3em;
    	padding: 10px;

	    @include breakpoint($medium) {
	    	width: 45%;
	        padding: 5em;
	        position: absolute;
	    	margin: 3em;
	    }

	    &:hover {
	    	background-color: $main-color;
	    	transition: background $fade-in-length ease-in;

	    	.btn {
	    		background-color: $darker-main-color;
	    	}
	    }

	    .btn {
	    	transition: background $fade-in-length ease-out;
			
			&:hover {
				background-color: white;
				transition: background $fade-in-length ease-in;
			}
	    }
    }	

	img { 
	    @include breakpoint($medium) {
			float: right;
			width: 50%;
	        margin: 5em;
	    }
	}
}

.layout--julie-home {

	.archive {
	  padding-right: 0px;
	  float: none;
	  width: 100% !important;
	  font-size: 12px;
	}

	.page__hero {
	    @include breakpoint($medium) {
	      float: right;
	      width: 50%;
	    }

	    @include breakpoint($large) {
	      width: 50%
	    }

	}

	.carousel-container {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.carousel-inner {
        padding: 3em;
        margin: 1em;
	}

	#news-carousel {
		margin: 1em;

		.carousel-indicators {
			bottom: 0;
		}

		.item {
			width: 75%;
			margin: 0 auto;
		}

		img {
			max-height: none !important;
			margin: 0 auto;
			float: left;

		    @include breakpoint($medium) {
				width: 50%;
		    }
		}

		.item-caption {
			float: right;
			padding: 2em;

		    @include breakpoint($medium) {
				width: 50%;
		    }
		}

		.item-date {
			font-weight: 300;
			font-style: italic;
		}

		.item-description {
			padding-top: 1em;
		}
	}

	.blurbs {    
	  overflow: auto;
	}

	.blurb {    
	    float: left;
	    width: 100%;
	    padding: 0;

	    @include breakpoint($medium) {
	      width: 33%;
	      padding: 20px;
	    }

	    @include breakpoint($large) {
	      width: 33%
	    }
	}
}